
    
    <div class="col-lg-6" ng-repeat='post in posts | orderBy:"upvotes":true'>

      <h4>
      {{post.upvotes}}
      {{post.downvotes}}
	<button type="button" class="btn btn-default btn-xs" ng-click="upvote(post)">
      <span class="glyphicon glyphicon-arrow-up"></span>
    </button>
	<button type="button" class="btn btn-default btn-xs" ng-click="downvote(post)">
      <span class="glyphicon glyphicon-arrow-down"></span>
    </button>
      <a ng-href='#/post/{{post._id}}'>{{post.title}}</a>
  	  </h4>
      <p>posted by: {{post.username}}</p> 

    </div>

