     <form>
        Username: <input type="text" class="form-control" ng-model="credentials.username"><br>
        Password:
        <input type="password" class="form-control" ng-model="credentials.password">
        <button ng-click="login(credentials)">login</button>
      </form>
      {{login_status}}