	<h4>
	{{post.upvotes}}
	{{post.downvotes}}
	<button type="button" class="btn btn-default btn-xs" ng-click="upvote(post)">
      <span class="glyphicon glyphicon-arrow-up"></span>
    </button>
	<button type="button" class="btn btn-default btn-xs" ng-click="downvote(post)">
      <span class="glyphicon glyphicon-arrow-down"></span>
    </button>
      {{post.title}}</h4>
      <p>posted by: {{post.username}}</p> 
      <h4>{{post.comment}}</h4>